<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.sevensignal.screensavermonitor</string>
        <key>Program</key>
        <string>/Users/joe/Library/Developer/Xcode/DerivedData/SleepProfiler-dqfqdmwepfyptwehdtnqyzcstkzc/Build/Products/Debug/SleepProfiler</string>
        <key>RunAtLoad</key>
        <true/> <!-- run the program at login -->
        <key>KeepAlive</key>
        <dict>
            <key>SuccessfulExit</key>
            <false/>
        </dict>
        <key>ExitTimeOut</key>
        <integer>30</integer>
        <key>ProcessType</key>
        <string>Interactive</string>
    </dict>
</plist>
